@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
header {
  background-color: #EDEAE5;
  color: #026670;
}

main {
  background-color: #FEF9C7;
}

footer {
  background-color: #EDEAE5;
  color: #026670;
}

* {
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Courgette', cursive;
  height: 50vh;
  overflow: hidden;
}

h1, h2 {
  font-family: 'Courgette', cursive;
  z-index: 2;
}

h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  z-index: 2;
}

h1, h2, h3 {
  line-height: 2em;
}

p, li, a {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5em;
}

.fab {
  font-size: 2em;
}

@-webkit-keyframes rotateOdd {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0;
  }
  to {
  }
}

@keyframes rotateOdd {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0;
  }
  to {
  }
}

@-webkit-keyframes rotateEven {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0;
  }
  to {
  }
}

@keyframes rotateEven {
  from {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0;
  }
  to {
  }
}

@-webkit-keyframes slide-in {
  from {
    margin-left: 7em;
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    margin-left: 7em;
    opacity: 0;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: relative;
  color: #026670;
  padding-bottom: 20%;
}

main::after {
  content: "";
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  height: 15%;
  width: 150%;
  position: absolute;
  left: -10%;
  bottom: -13%;
  z-index: 1;
  background-color: #EDEAE5;
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 3px 1px -2px rgba(0, 0, 0, 0.12), inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 3px 1px -2px rgba(0, 0, 0, 0.12), inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
  main::after {
    bottom: -13%;
  }
}

@media (min-width: 1200px) {
  main::after {
    bottom: -10%;
  }
}

section {
  padding: 3em 0;
}

section:last-child {
  border-bottom: none;
}

header {
  height: 30vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
}

header ::after {
  content: "";
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  height: 80%;
  width: 160%;
  position: absolute;
  left: -50%;
  bottom: -80%;
  z-index: 1;
  background-color: #FEF9C7;
  -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 3px 1px -2px rgba(0, 0, 0, 0.12), inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 3px 1px -2px rgba(0, 0, 0, 0.12), inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

footer .o-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  padding-bottom: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  footer .o-wrapper {
    -ms-grid-columns: max-content max-content;
        grid-template-columns: -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content;
  }
}

footer .o-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25em;
}

a {
  text-decoration: none;
  color: #026670;
  background-color: #9FEDD7;
  display: inline-block;
  padding: 0.5em;
  margin: 0 auto;
  border-radius: 0.5em;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

a:hover {
  color: #FCE181;
  background-color: #026670;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

li {
  list-style: none;
  padding: 1em;
  background-color: #EDEAE5;
  display: inline-block;
  border-radius: 1em;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  min-width: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.o-wrapper {
  max-width: 85%;
  min-width: 430px;
  margin: 0 auto;
  position: relative;
}

.projects {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  row-gap: 2em;
}

@media (min-width: 1200px) {
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0;
    height: auto;
  }
}

.project {
  padding: 3em;
  background-color: #EDEAE5;
  border-radius: 0.5em;
  border-bottom: 10px solid #EDEAE5;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, -webkit-box-shadow;
  transition-property: background-color, border, box-shadow;
  transition-property: background-color, border, box-shadow, -webkit-box-shadow;
}

.project:hover {
  background-color: #FCE181;
  border-bottom: 10px solid #9FEDD7;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.project p {
  padding: 1em 0;
}

.project-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 3em;
          column-gap: 3em;
  align-self: flex-end;
}

.project-buttons a {
  display: block;
  width: 100%;
  text-align: center;
}

.animate-project {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
}

.skills > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 900px) {
  .skills > div {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.skills ul li {
  height: 10%;
  margin: 0em 1em 1em 0;
  background-color: #026670;
  color: #EDEAE5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .skills ul li {
    padding: 1em 4em;
  }
}

.experince {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.experince > div {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #FCE181;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: 4em;
}

@media (min-width: 900px) {
  .experince > div {
    width: 40%;
  }
}

@media (min-width: 900px) {
  .experince > div {
    margin-top: 0;
  }
}

.experince-odd {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.experince-odd > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experince-odd::after {
  content: "";
  position: absolute;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-left: 1em solid #026670;
  border-bottom: 1em solid transparent;
}

.experince-even {
  display: -ms-grid;
  display: grid;
  position: relative;
  margin-top: 8em;
}

@media (min-width: 900px) {
  .experince-even {
    margin-top: 0;
    margin-left: auto;
  }
}

.experince-even > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experince-even::after {
  content: "";
  position: absolute;
  right: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-right: 1em solid #026670;
  border-bottom: 1em solid transparent;
}

.experince .scale {
  margin: 0 auto;
  position: absolute;
  height: 100%;
  padding: 0;
  left: 50%;
  width: 0.5em;
  background-color: #026670;
  white-space: nowrap;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 900px) {
  .experince .scale {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.experince .year {
  margin: 0 auto;
  width: 6em;
  height: 30%;
  padding: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9FEDD7;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
  .experince .year {
    height: 50%;
  }
}

.cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
}

.cv a {
  text-transform: uppercase;
}

.animate-even {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: rotateEven;
          animation-name: rotateEven;
}

.animate-odd {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: rotateOdd;
          animation-name: rotateOdd;
}
