.c-btn{
    padding: 0.5em 5em;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border: 0.1em transparent;
    border-radius: 0.4em;
    @include BoxShadow(2);
    transition: background 0.3s ease-in;


    &:hover{
        @include BoxShadow(1);
        background: rgba(0, 0, 0, 0.9);

    }
}