.footer{

    .o-wrapper{
        // grid-template-rows: repeat(4, max-content);
        display: flex;
        flex-flow: column;
        padding: 3em 0;
        color: white;
        
        @include for-tablet-landscape-up{
            display: grid;
            grid-template-columns: max-content 1fr 1fr;
            grid-template-areas: "map address contact";
            column-gap: 2em;

            // align-items: center;
            justify-content: space-between;
        }
    }

    &__map{
        padding-bottom: 2em;

        grid-area: map;
        position: relative;
        z-index: 1;
        display: flex;
        // max-width: 70%;
        overflow: hidden;
        border: 1px trasparent white;
        border-radius: 0.5em;

        & img {
            width: 100%;
            // height: auto;
        }

        @include for-tablet-landscape-up{
            padding-bottom: 0;
            max-width: 20em;

        }
    }

    &__address{
        grid-area: address;
        padding-bottom: 2em;

        position: relative;
        z-index: 1;

        & p, h3 {
            color: $background-light;
        }

        & h3{
            padding: 1.5em 0 ;
        }

        
        @include for-tablet-landscape-up{
            padding-bottom: 1em;
        }

    }

    &__direct-contact{
        grid-area: contact;
        position: relative;
        z-index: 1;
        padding-bottom: 1em;

        & h4, p, a, i {
            color: $background-light;
        }

        h4 {
            padding: 1em 0 0.5em 0;
        }

        @include for-tablet-landscape-up{
            padding-bottom: 1em;
        }
    }
    
    &__copyright{
        grid-area: copyright;
        position: relative;
        z-index: 1;

        & p, h3 {
            color: $background-light;
        }


        @include for-tablet-landscape-up{
            display: grid;
            // justify-content: center;
            
            grid-column-start: 2;
            grid-column-end: 3;
            
        }
       
    }
}