// header h1,
nav{
    display: none;
    position: relative;
    background: rgba(0, 0, 0, 0.3);

    position: fixed;
    z-index: 55;
    width: 100%;
    border-bottom: 0.2em solid $border-color;

    @include for-tablet-landscape-up{
        display: block;
    }
}

header a{
    color: #fff;
    text-decoration: none;
    
}

nav ul {
    
    display: flex;
    justify-content: end;    
    
}

nav ul li{
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
    transform: translate(0, -5em);
    opacity: 1;
    transition: opacity 1s ease-in, transform 1s ease-in;


}

nav ul li:nth-child(1) { transition-delay: 0.4s; }
nav ul li:nth-child(2) { transition-delay: 0.3s; }
nav ul li:nth-child(3) { transition-delay: 0.2s; }
nav ul li:nth-child(4) { transition-delay: 0.1s; }
nav ul li:nth-child(5) { transition-delay: 0.0s; }

.loaded nav ul li {
    opacity: 1;
    transform: translate(0, 0);
    height: 100%;
}

nav ul li a{
    display: block;
    padding: 1em 1em;
    // background: rgba(0, 0, 0, 0.3);
    border-radius: 0.2em;
    // border: 0.1em solid $border-color;
    border-radius: 0.5em;
    transition: background 0.3s ease-in;
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0.9);
}
